/*
	BASIC STYLES
*/
body * {
  vertical-align: top;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Didact Gothic', sans-serif;
}

/*
  UTILITIES
*/

.container {
  position: relative;
  width: 960px;
  margin: 0 auto; 
}

.two-thirds {
  position: relative;
  display: inline-block;
  width: 640px;
}

.one-third {
  position: relative;
  display: inline-block;
  width: 320px;
  margin-right: -4px;
}

.1px-line {
  height: 1px;
  background-color: rgb(147, 147, 146);
}

/*
  HEADER
*/

.header {
  color: rgb(255, 255, 255);
  height: 60px;
  background: url(images/header-bg.png) repeat-x top left;
  background-size: 180px 60px;
}

.header .logo {
  margin-top: 13px;
  margin-right: 45px;
  width: 163px;
  height: 33px;
}

.header .nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.header .nav li {
  display: inline;
  list-style-type: none; 
  text-transform: uppercase;
  margin-right: 35px;
  text-shadow: 0 1px 1px black;
  letter-spacing: 1px;
  font-size: 17px;
}

.user-menu {
  position: absolute;
  top: 0;
  right: 0;
}

.user-menu .username {
  display: inline-block;
  margin-top: 17px;
}

.user-menu .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 4px;
  margin-top: 5px;
}

.user-menu .user-menu-button {
  background: url('images/triangle.png') no-repeat center center;
}

.down-arrow {
  margin-top: 22px;
  width: 20px;
  height: 16px;
}

/*
  TAGLINE STYLES
*/

.tagline {
  font-size: 30px;
  color: rgb(66, 66, 66);
  margin-top: 26px;
  margin-bottom: 26px;
}



/*
  CURRENT MOB STYLES
*/

.current-mob-background {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(242, 240, 236);
  border-top: 1px solid rgb(206, 206, 204);
  border-bottom: 1px solid rgb(206, 206, 204);
  margin-bottom: 36px;
}

.main-mob-pic-container {
  position: relative;
  width: 618px;
  height: 398px;
  border: 1px solid rgb(218, 218, 218);
  background-image: url(http://lorempixel.com/620/400/nightlife/);
}

.main-pic-highlight {
  height: 22px;
  background-color: rgba(0, 0, 0, .5);
  padding: 18px;
}

.main-pic-highlight span {
  color: rgb(255, 255, 255);
  font-size: 20px;
  right: 0;
}

.main-pic-highlight-expiration {
  position: absolute;
  right: 18px;
  top: 22px;
  color: rgb(255, 255, 255);
}

.main-pic-highlight-expiration .remaining-time {
  font-size: 14px;
}

.caption {
  width: 570px;
  padding: 24px 24px 12px 24px;
  border: 1px solid rgb(218, 218, 218);
  background-color: rgb(208, 205, 199);
  margin-bottom: 6px;
}

.caption span {
  color: rgb(66, 66, 66);
  font-size: 15px;
  font-style: italic;
}

.privacy-notice {
  font-size: 12px;
  margin-left: 28px;
  color: rgb(137, 136, 135);
}

.current-mobbers-container {
  display: inline-block;
}

.current-mobbers-top {
  width: 140px;
  height: 116px;
  background-color: rgb(208, 205, 199);
  box-shadow: 0 0 3px 1px white;
}

.current-mobbers-bottom {
  width: 138px;
  height: 34px;
  background-color: rgb(181, 174, 162);
  border-right: 1px solid rgb(154, 154, 154);
  border-bottom: 1px solid rgb(154, 154, 154);
  border-left: 1px solid rgb(154, 154, 154);
}

.mobbers-needed-container {
  display: inline-block;
  margin-left: 36px;
  margin-bottom: 26px;
}

.mobbers-needed-top {
  width: 140px;
  height: 116px; /*subtracted 36 for the bottom half*/
  background-color: rgb(208, 205, 199);
  box-shadow: 0 0 3px 1px white;
}

.mobbers-needed-bottom {
  width: 138px;
  height: 34px;
  background-color: rgb(181, 174, 162);
  border-right: 1px solid rgb(154, 154, 154);
  border-bottom: 1px solid rgb(154, 154, 154);
  border-left: 1px solid rgb(154, 154, 154);
}

.current-mobbers-top span, .mobbers-needed-top span {
  display: inline-block;
  font-size: 70px;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  text-shadow: gray 1px 1px 2px;
}

.current-mobbers-bottom span {
  display: inline-block;
  text-align: center;
  margin-top: 7px;
  margin-left: 34px;
  font-size: 16px;
  color: rgb(66, 66, 66);
  text-shadow: gray 0px 1px 2px;
}

.mobbers-needed-bottom span {
 display: inline-block;
  margin-top: 7px;
  margin-left: 7px;
  font-size: 16px;
  color: rgb(66, 66, 66);
  text-shadow: gray 0px 1px 2px;
}

.join-mob-button {
  position: relative;
  z-index: 10;
  height: 60px;
  line-height: 60px;
  color: #fff;
  background: #ffdf00; /* Old browsers */
  background: -moz-linear-gradient(top, #ffdf00 0%, #eda800 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdf00), color-stop(100%,#eda800)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffdf00 0%,#eda800 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffdf00 0%,#eda800 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffdf00 0%,#eda800 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffdf00 0%,#eda800 100%); /* W3C */
  font-size: 20px;
  text-align: center;
  text-shadow: 0 1px 1px #9B6C00;
  border: 1px solid rgb(185, 129, 0);
  border-radius: 6px;
  box-shadow: inset 0 1px 0 1px #fff;
  box-shadow: 0 2px 3px -1px #B8B6B6 ;
}

.reward-box {
  position: relative;
  width: 302px;
  margin: -20px auto;
  border: 1px solid rgb(162, 162, 162);
  border-radius: 6px;
  height: 86px;
  background-color: white;
  box-shadow: inset 1px -4px 10px -6px gray;
}

.medal-icon {
  display: inline-block;
  width: 41px;
  height: 59px;
  margin: 20px 0 0 10px;
}

.your-reward-title {
  display: inline-block;
  font-size: 18px;
  margin-left: 2px;
  margin-top: 26px;
}

.reward {
  display: inline-block;
  font-size: 13px;
  margin-left: -105px;
  margin-top: 52px;
}

.mob-disclaimer {
  font-size: 12.5px;
  margin-top: 20px;
  margin-left: 5px;
  text-align: center;
  color: rgb(147, 147, 146);
}

.small-line {
  height: 1px;
  background-color: rgb(147, 147, 146);
  margin-top: 84px;
}

.twitter-icon{
  margin-right: 2px;
  margin-top: 10px;
  width: 62px;
  height: 29px;
  display: inline-block;
}

.facebook-icon{
  margin-right: 2px;
  margin-top: 10px;
  margin-left: -8px;
  width: 64px;
  height: 29px;
  display: inline-block;
}

.google-plus-icon{
  margin-right: 2px;
  margin-top: 10px;
  margin-left: -8px;
  width: 45px;
  height: 27px;
  display: inline-block;
}

.kickstarter-icon{
  margin-right: 2px;
  margin-top: 13px;
  margin-left: -8px;
  width: 132px;
  height: 24px;
  display: inline-block;
}

/*
  OTHER OFFERS STYLES
*/

.other-offers-bg {
  background-color: white;
  margin-bottom: 20px;
}

.other-offers-bg .one-third {
  margin-right: -3px; /* to offset the inline-block 'pixel-growth' issue. */
}

.other-offer-pic {
  margin-bottom: 6px;
  box-shadow: 0 0 1px gray;
}

.other-offer-caption {
  width: 196px;
  font-size: 14px;
}

.other-offer-subcaption {
  width:196px;
  font-size: 12px;
  color: rgb(131, 131, 131);
  margin-bottom: 36px;
}

.time-remaining-container-a {
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 47px;
}

.time-remaining-container-b {
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 66px;
}

.time-remaining-container-c {
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 66px;
}

.clock-icon {
  display: inline-block;
  width: 24px;
  height: 20px;
}

.remaining-time {
  display: inline-block;
  font-size: 12px;
}

.large-line {
  height: 1px;
  background-color: rgb(147, 147, 146);
  margin-top: 20px;
  margin-bottom: 20px;
}

/*
  UPCOMING MOBS STYLES
*/

.upcoming-mobs-title {
  font-size: 24px;
  margin-bottom: 42px;
}

.upcoming-mobs-container .small-line {
  height: 1px;
  background-color: rgb(147, 147, 146);
  margin-top: 20px;
  margin-bottom: 20px;
}

.upcoming-mobs-container {
  height: 40px;
}

.upcoming-mobs-table-title {
  display: inline-block;
  margin-right: ;
}

.table-mobbers-needed {
  display: inline-block;
  margin-right: ;
}

.table-date {
  display: inline-block;
}

/* 
  RIBBON STYLE
*/

 .ribbon-wrapper {
  z-index: 100;
  position: absolute;
  bottom: 95px;
  border-bottom: 6px solid #ccc;
  border-top: 0px solid #ccc;
  -moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
  -webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
  -moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
  -webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
}
  .ribbon-front {
  font-size: 14px;
  text-shadow: gray 0px 1px 1px;
  text-align: center;
  padding: 5px;
  color: rgb(255, 255, 255);
  background-color: #FAD000;
  height: 22px;
  width: 137px;
  position: relative;
  left: -7px;
  z-index: 2;
  border-bottom: 2px solid rgb(220, 167, 26);
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style:solid;
  height:0px;
  width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
  top: 34px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
  left: -7px;
  border-color: transparent #FAD000 transparent transparent;
}

  .ribbon-edge-topleft {
  top: 0px;
  border-width: 0px 7px 0 0;
}
  .ribbon-edge-bottomleft {
  border-width: 0 7px 6px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
  left: 140px;
  border-color: transparent transparent transparent #FAD000;
}

  .ribbon-edge-topright {
  top: 0px;
  border-width: 0px 0 0 0px;
}
  .ribbon-edge-bottomright {
  border-width: 0 0 0px 0px;
}

  .ribbon-back-left {
  position: absolute;
  top: 6px;
  left: 0px;
  width: 0px;
  height: 34px;
  background-color: #FAD000;  z-index: 0;
}

  .ribbon-back-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 34px;
    z-index: 0;
}




















